<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="book.dao.BookDao">
    <insert id="insertBook">
        INSERT INTO `Book` (name, price, stock, img_path, discount) VALUES (#{name}, #{price}, #{stock}, #{imgPath},
        #{discount})
    </insert>
    <update id="updateBook" parameterType="Book">
        UPDATE `Book`
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name =#{name},</if>
            <if test="price != -1">price=#{price},</if>
            <if test="stock != -1">stock=#{stock},</if>
            <if test="imgPath != null">imgPath=#{imgPath},</if>
            <if test="discount != -1">discount=#{discount},</if>
        </trim>
        WHERE id = #{id}
    </update>
    <delete id="deleteBook">
        DELETE FROM `Book` WHERE id=#{id}
    </delete>
    <select id="getBookById" resultType="book.model.Book" parameterType="int">
        SELECT * FROM `Book` WHERE id = #{id}
    </select>
    <select id="getAllBooks" resultType="book.model.Book">
        SELECT * FROM `Book`
    </select>
    <select id="getStockById" resultType="int" parameterType="int">
        SELECT stock from `Book` where id = #{id}
    </select>
    <select id="getPageBooks" resultType="book.model.Book" parameterType="java.util.HashMap">
        select * from `Book` LIMIT #{start}, #{end}
    </select>
</mapper>