<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="book.dao.ItemDao">


    <insert id="insertItem" parameterType="int" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `Item` (orderId,bookId,num) VALUES (#{orderId},#{bookId},#{num})
    </insert>
    <update id="updateItem" parameterType="Item">
        UPDATE `Item` SET num = #{num} WHERE orderId = #{orderId} AND bookId = #{bookId}
    </update>
    <delete id="deleteItem" parameterType="int">
        DELETE FROM `Item` WHERE id = #{id}
    </delete>
    <select id="getItemById" resultType="Item" parameterType="int">
        SELECT * FROM `Item` WHERE id = #{id}
    </select>

    <select id="getBooksByOrderId" resultType="book.model.BookInOrder" parameterType="int">
        SELECT Book.* ,Item.num FROM `Book`,`Item` WHERE Book.id = ANY(SELECT bookId FROM `Item` WHERE orderId =
        #{orderId}) AND Item.orderId = #{orderId}
    </select>
    <select id="getAllItem" resultType="book.model.Item">
        SELECT * FROM `Item`
    </select>
</mapper>