<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="book.dao.OrderDao">
    <resultMap id="OrderMapper" type="Order">
        <id property="id" column="id"></id>
        <result property="userId" column="userId"></result>
        <result property="addressId" column="addressId"></result>
        <association property="username" column="userId" select="book.dao.UserDao.getUserNameById"/>
        <association property="address" column="addressId" select="book.dao.AddressDao.getAddressNameById"/>
        <association property="books" column="id" select="book.dao.ItemDao.getBooksByOrderId"/>
    </resultMap>

    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `Order` (totalPrice, userId, addressId, status) VALUES (#{totalPrice},#{userId},#{addressId},#{status})
    </insert>
    <update id="updateOrder" parameterType="Order">
        UPDATE `Order`
        <trim prefix="SET" suffixOverrides=",">
            <if test="totalPrice != -1">totalPrice=#{totalPrice},</if>
            <if test="userId != -1">userId=#{userId},</if>
            <if test="addressId != -1">addressId=#{addressId},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteOrder" parameterType="int">
        DELETE FROM `Order` WHERE id = #{id}
    </delete>

    <select id="getOrderById" resultMap="OrderMapper" parameterType="int">
        SELECT * FROM `Order` WHERE id = #{id}
    </select>

    <select id="getAllOrder" resultMap="OrderMapper">
        SELECT * FROM `Order`
    </select>
    <select id="getAllOrderByUserId" resultMap="OrderMapper" parameterType="int">
        SELECT * FROM `Order` WHERE userId = #{userId}
    </select>
    <update id="updateStatus" parameterType="java.util.HashMap">
        UPDATE `Order` set status=#{status} where id=#{orderId}
    </update>
    <select id="getStatus" parameterType="int">
        select status from `Order` where id=#{id}
    </select>

</mapper>