<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="book.dao.UserDao">

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `User` (username, password, role, fails, email) VALUES
        (#{username},#{password},#{role},#{fails},#{email})
    </insert>
    <update id="updateUser" parameterType="User">
        UPDATE `User`
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null">username=#{username},</if>
            <if test="password != null">password=#{password},</if>
            <if test="role != null">role=#{role},</if>
            <if test="fails != null">fails=#{fails},</if>
            <if test="email != null">email=#{email}</if>
        </trim>
        WHERE id = #{id}
    </update>
    <delete id="deleteUserById" parameterType="int">
        DELETE FROM `User` WHERE id = #{id}
    </delete>
    <select id="getUserById" resultType="User" parameterType="int">
        SELECT * FROM `User` WHERE id = #{id}
    </select>
    <select id="getUserNameById" resultType="java.lang.String" parameterType="int">
        SELECT username FROM `User` WHERE id = #{id}
    </select>
    <select id="getAllUser" resultType="book.model.User">
        SELECT * FROM `User`
    </select>
</mapper>